h1 {
    text-align: center;
     font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
h2 {
    text-align: center;
}

.card-img-top {
    align-items: center;
    height: 24rem;
    object-fit: cover;
    color: rgb(0, 0, 0);
}

.row {
    margin-bottom: 2rem;
}
body {
    background-image: url("");
}

.card-text {
    
}

body {
     font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  background-color: ;

}
.icon1 {
    height: 5rem;
}
